{% extends "layouts/base.html" %}
{% block title %}| Home{% endblock %}
{% block content %}

<script type="text/javascript" src="/js/students/home.js"></script>
<div class="container">
<div class="card">
    <div class="card-title">
    <h2>Welcome {{nickname}}!</h2>
    </div>
    <div class="card-body">
    <h4 class="form-signin-heading">Select a assignment to continue</h4>

    {% if assignments %}
    <div class="list-group">
        {% for assignment in assignments %}
        <button type="button" onclick="redirect('{{assignment.key}}', '{{assignment.group}}', '{{assignment.round}}')" class="list-group-item btn-block">
            {{assignment.course}} - {{assignment.name}}
        </button>
        {% endfor %}
    </div>
    {% else %}
    <p class="well">Sorry! none of the assignments in which you are enrolled are active right now.</p>
    {% endif %}
    </div>
</div>
</div>
{% endblock %}
