{% extends "layouts/base.html" %}

{% set show_sidenavbar = True %}

{% block sidenavbar %}
<ul class="nav nav-sidebar">
    <li class="sidebar-link"><a dir="courses" href="#">COURSES</a></li>
    <li class="sidebar-link"><a dir="students" href="#">STUDENTS</a></li>
    <li role="separator" class="divider"></li>
    <li class="sidebar-link"><a dir="rounds" href="#">ROUNDS</a></li>
    <li class="sidebar-link"><a dir="groups" href="#">GROUPS</a></li>
    <li role="separator" class="divider"></li>
{#    <li class="sidebar-link"><a dir="responses" href="#">RESPONSES</a></li>#}
    <li class="sidebar-link"><a dir="group_responses" href="#">GROUP RESPONSES</a></li>
    <li class="sidebar-link"><a dir="show_responses" href="#">SHOW RESPONSES</a></li>
</ul>
<script type="text/javascript" src="/js/layouts/instructor_base.js"></script>
{% endblock sidenavbar %}
{#FIXME: Sidebar overlaps with content on small screens#}
