{% extends "layouts/instructor_base.html" %}
{% block title %} | Responses {% endblock %}
{% block content %}

<button class="accordion">Initial Question</button>
<div class="panel">
  <p>{{initial_question}}</p>
</div>

<button class="accordion">Summary Question</button>
<div class="panel">
  <p>{{summary_question}}</p>
</div>

<script>
    var acc = document.getElementsByClassName("accordion");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].onclick = function(){
            /* Toggle between adding and removing the "active" class,
            to highlight the button that controls the panel */
            this.classList.toggle("active");

            /* Toggle between hiding and showing the active panel */
            var panel = this.nextElementSibling;
            if (panel.style.display === "block") {
                panel.style.display = "none";
            } else {
                panel.style.display = "block";
            }
        }
    }
</script>
{% if not posts %}
    {% for group in groups %}
        <!-- Rounds -->
        <!-- There has to be a better, more reliable way to get this number-->
        {% for i in seq_rounds[group.members[0]] %}
                <div class="card">
                    <div class="card-title">
                        {% if i == 1 %}
                            <h2> Initial Submissions <span style="float: right">Group {{ group.number }}</span></h2>
                        {% elif i != seq_rounds[groups[0].members[0]][-1] %}
                            <h2> Round {{ i - 1 }} <span style="float: right">Group {{ group.number }}</span></h2>
                        {% else %}
                            <h2> Final Submissions <span style="float: right">Group {{ group.number }}</span></h2>
                        {% endif %}
                    </div> <!-- ./card-title -->
                    <div class="card-body">
                        <table class="table table-bordered">
                            <tr>
                                {% for student in students %}
                                    {% if student.email in group.members %}
                                    <th>
                                        {{ student.alias }}: {{ student.first_name }} {{ student.last_name }} <br>
                                        {% if i == 1 %}
                                            Email: {{ student.email }}
                                        {% endif %}
                                    </th>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            {% if i == 1 or i == seq_rounds[groups[0].members[0]][-1] %}
                                <tr>
                                    {% for student in students %}
                                        {% if student.email in group.members %}
                                        <td>
                                            <strong>Option:</strong> {{ option[student.email][i-1]}}
                                        </td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% else %}
                                <tr>
                                    {% for student in students %}
                                        {% if student.email in group.members %}
                                        <td>
                                            <strong>Opinion:</strong>
                                            {% for opt in responses[student.email][i-1] %}
                                                {% if opt == "support" %}
                                                    Agrees with S{{ loop.index }}.
                                                {% elif opt == "disagree" %}
                                                    Disagrees with S{{ loop.index }}.
                                                {% elif opt == "neutral" %}
                                                    Neutral to S{{ loop.index }}.
                                                {% endif %}
                                            {% endfor %}
                                        </td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endif %}
                            <tr>
                                {% for student in students %}
                                    {% if student.email in group.members %}
                                    <td>
                                        {% if comments[student.email][i-1] == "NA" %}
                                            <em>Not submitted.</em>
                                        {% else %}
                                            {{ comments[student.email][i-1] }}
                                        {% endif %}
                                    </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        </table>
                    </div> <!-- ./card-body -->
                </div> <!-- ./card -->
        {% endfor %}

        <!-- Summaries -->
        <div class="card">
            <div class="card-title">
                <h2> Summary Submissions <span style="float: right">Group {{ group.number }}</span></h2>
            </div> <!-- ./card-title -->
            <div class="card-body">
                <table class="table table-bordered">
                    <tr>
                        {% for student in students %}
                            {% if student.email in group.members %}
                            <th>
                                {{ student.first_name }} {{ student.last_name }} <br>
                                Alias: {{ student.alias }} Group {{ student.group }} <br>
                                Email: {{ student.email }}
                            </th>
                            {% endif %}
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for student in students %}
                            {% if student.email in group.members %}
                            <td>
                                {{ summary[student.email][-1] }}
                            </td>
                            {% endif %}
                        {% endfor %}
                    </tr>
                </table>
            </div> <!-- ./card-body -->
        </div> <!-- ./card -->
    {% endfor %}
{% endif %}
<!--sequential round stuff, only works if you're at round 2 or later-->
{% if posts %}
    <!-- -->
    {% for group in groups %}
        <!-- initials -->
        <h3>INITIAL RESPONSES IN GROUP {{ group.number }}</h3>


        <div class="card">
            {% for answer in initial_seq[group.number - 1] %}

                 {% for member in group.members %}


                    {% if answer.email == member %}
                            <div class="card-title">
                        <h3 style="text-align: left">
                            {% for student in students %}
                                {% if answer.email == student.email %}
                                    {{ student.first_name }} {{ student.last_name }} Email: {{ student.email }}
                                {% endif %}
                            {% endfor %}
                        </h3>
                    </div>
                     <div class="card-body" style="text-align: left">
                         {{answer.response|safe}}
                     </div>
                {% endif %}

            {% endfor %}
            {% endfor %}
        </div>





        <!-- post sequentials --> <h3>SEQUENTIAL DISCUSSION IN GROUP {{ group.number }}</h3>
        <div class="card">

                 {% for p in posts %}
                     {% for member in group.members %}
                         {% if p.author ==  member%}
                             <div class="card-title">
                        <h3 style="text-align: left">
                            {% for student in students %}
                                {% if p.author == student.email %}
                                    {{ student.first_name }} {{ student.last_name }} Email: {{ student.email }}
                                {% endif %}
                            {% endfor %}
                        </h3>
                    </div>
                     <div class="card-body" style="text-align: left">
                         {{p.text|safe}}
                     </div>
                         {% endif %}
                     {% endfor %}



                 {% endfor %}
        </div>
        <!-- final -->
        <div class="card">
        <h3> FINAL ANSWERS IN GROUP {{ group.number }} </h3>
        {% for member in group.members %}
            {% for response in seq_resp['group_'+group.number|string+'_3'] %}
                {% if response.student == member %}
                <div class="card-title">
                        <h3 style="text-align: left">
                            {% for student in students %}
                                {% if response.student == student.email %}
                                    {{ student.first_name }} {{ student.last_name }} Email: {{ student.email }}
                                {% endif %}
                            {% endfor %}
                        </h3>
                    </div>


                    <div class="card-body" style="text-align: left">
                         {{response.comment|safe}}
                     </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </div>

        <!--  summary -->
        <div class="card">
        <h3> SUMMARIES IN GROUP {{ group.number }} </h3>
        {% for member in group.members %}
            {% for response in seq_resp['group_'+group.number|string+'_3'] %}
                {% if response.student == member %}
                <div class="card-title">
                        <h3 style="text-align: left">
                            {% for student in students %}
                                {% if response.student == student.email %}
                                    {{ student.first_name }} {{ student.last_name }} Email: {{ student.email }}
                                {% endif %}
                            {% endfor %}
                        </h3>
                    </div>

                     <div class="card-body" style="text-align: left">
                         {{response.summary|safe}}
                     </div>

                {% endif %}
            {% endfor %}
        {% endfor %}
        </div>


    {% endfor %}
{% endif %}









{#<!--
{% for student in students %}
        <!-- post initial -->

     <!-- post sequential from student.group -->
    <!-- for each student ing group -->
        <!-- post final -->

        <div class="card">
            <div class="card-title">
                <h2>({{ loop.index }}) &nbsp;
                    Student: {{ student.email }} &nbsp;
                    Alias: {{ student.alias }} &nbsp;
                    Group: {{ student.group }} &nbsp;</h2>
            </div> <!-- ./card-title -->
            <div class="card-body">
                <table class="table table-bordered">

                    <tr><!-- IF NOT ROUND BASE, FINAL SUBMISSION -->
                         <td>{{ responses[student.email][1]|safe }}</td>
                    </tr>
                </table>
            </div> <!-- ./card-body -->
        </div> <!-- ./card -->
{% endfor %}-->#}
{% endblock %}

<!--  UNIQUE GROUP1 -->
    <!-- SELECTED STUDENT'S INITIAL SUBMISSION -->

    <!-- SEQ DISCUSSION FOR ENTIRE GROUP-->

    <!-- SELECTED STUDENT"S FINAL SUBMISSION -->
<!--  UNIQUE GROUP2 -->
<!--  ...... -->


{#TODO Make this responsive#}
{#TODO Better styling#}