{% extends "layouts/instructor_base.html" %}
{% block title %} | Responses {% endblock %}
{% block content %}

{% if not posts %}
    <!-- Rounds -->
    <!-- There has to be a better, more reliable way to get this number-->
    {% for i in seq_rounds[groups[0].members[0]] %}
            <div class="card">
                <div class="card-title">
                    {% if i == 1 %}
                        <h2> Initial Submissions </h2>
                    {% elif i != seq_rounds[groups[0].members[0]][-1] %}
                        <h2> Round {{ i - 1 }} </h2>
                    {% else %}
                        <h2> Final Submissions </h2>
                    {% endif %}
                </div> <!-- ./card-title -->
                <div class="card-body">
                    <table class="table table-bordered">
                        <tr>
                            {% for student in students %}
                                <th>
                                    {{ student.first_name }} {{ student.last_name }} <br>
                                    Alias: {{ student.alias }} Group {{ student.group }} <br>
                                    Email: {{ student.email }}
                                </th>
                            {% endfor %}
                        </tr>
                        {% if i == 1 or i == seq_rounds[groups[0].members[0]][-1] %}
                            <tr>
                                {% for student in students %}
                                    <td>
                                        <strong>Option:</strong> {{ option[student.email][i-1]}}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% else %}
                            <tr>
                                {% for student in students %}
                                    <td>
                                        <strong>Opinion:</strong> {{ responses[student.email][i-1]}}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endif %}
                        <tr>
                            {% for student in students %}
                                <td>
                                    {% if comments[student.email][i-1] == "NA" %}
                                        <em>Not submitted.</em>
                                    {% else %}
                                        {{ comments[student.email][i-1] }}
                                    {% endif %}
                                </td>
                            {% endfor %}
                        </tr>
                    </table>
                </div> <!-- ./card-body -->
            </div> <!-- ./card -->
    {% endfor %}

    <!-- Summaries -->
    <div class="card">
        <div class="card-title">
            <h2> Summary Submissions </h2>
        </div> <!-- ./card-title -->
        <div class="card-body">
            <table class="table table-bordered">
                <tr>
                    {% for student in students %}
                        <th>
                            {{ student.first_name }} {{ student.last_name }} <br>
                            Alias: {{ student.alias }} Group {{ student.group }} <br>
                            Email: {{ student.email }}
                        </th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for student in students %}
                        <td>
                            {{ summary[student.email][-1] }}
                        </td>
                    {% endfor %}
                </tr>
            </table>
        </div> <!-- ./card-body -->
    </div> <!-- ./card -->
{% endif %}
<!--sequential round stuff, only works if you're at round 2 or later-->
{% if posts %}
    <!-- -->
    {% for group in groups %}
        <!-- initials -->
        <h3>INITIAL RESPONSES IN GROUP {{ group.number }}</h3>


        <div class="card">
            {% for answer in initial_seq[group.number - 1] %}

                 {% for member in group.members %}


                    {% if answer.email == member %}
                            <div class="card-title">
                        <h3 style="text-align: left">
                            {% for student in students %}
                                {% if answer.email == student.email %}
                                    {{ student.first_name }} {{ student.last_name }} Email: {{ student.email }}
                                {% endif %}
                            {% endfor %}
                        </h3>
                    </div>
                     <div class="card-body" style="text-align: left">
                         {{answer.response|safe}}
                     </div>
                {% endif %}

            {% endfor %}
            {% endfor %}
        </div>





        <!-- post sequentials --> <h3>SEQUENTIAL DISCUSSION IN GROUP {{ group.number }}</h3>
        <div class="card">

                 {% for p in posts %}
                     {% for member in group.members %}
                         {% if p.author ==  member%}
                             <div class="card-title">
                        <h3 style="text-align: left">
                            {% for student in students %}
                                {% if p.author == student.email %}
                                    {{ student.first_name }} {{ student.last_name }} Email: {{ student.email }}
                                {% endif %}
                            {% endfor %}
                        </h3>
                    </div>
                     <div class="card-body" style="text-align: left">
                         {{p.text|safe}}
                     </div>
                         {% endif %}
                     {% endfor %}



                 {% endfor %}
        </div>
        <!-- final -->
        <div class="card">
        <h3> FINAL ANSWERS IN GROUP {{ group.number }} </h3>
        {% for member in group.members %}
            {% for response in seq_resp['group_'+group.number|string+'_3'] %}
                {% if response.student == member %}
                <div class="card-title">
                        <h3 style="text-align: left">
                            {% for student in students %}
                                {% if response.student == student.email %}
                                    {{ student.first_name }} {{ student.last_name }} Email: {{ student.email }}
                                {% endif %}
                            {% endfor %}
                        </h3>
                    </div>


                    <div class="card-body" style="text-align: left">
                         {{response.comment|safe}}
                     </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </div>

        <!--  summary -->
        <div class="card">
        <h3> SUMMARIES IN GROUP {{ group.number }} </h3>
        {% for member in group.members %}
            {% for response in seq_resp['group_'+group.number|string+'_3'] %}
                {% if response.student == member %}
                <div class="card-title">
                        <h3 style="text-align: left">
                            {% for student in students %}
                                {% if response.student == student.email %}
                                    {{ student.first_name }} {{ student.last_name }} Email: {{ student.email }}
                                {% endif %}
                            {% endfor %}
                        </h3>
                    </div>

                     <div class="card-body" style="text-align: left">
                         {{response.summary|safe}}
                     </div>

                {% endif %}
            {% endfor %}
        {% endfor %}
        </div>


    {% endfor %}
{% endif %}









{#<!--
{% for student in students %}
        <!-- post initial -->

     <!-- post sequential from student.group -->
    <!-- for each student ing group -->
        <!-- post final -->

        <div class="card">
            <div class="card-title">
                <h2>({{ loop.index }}) &nbsp;
                    Student: {{ student.email }} &nbsp;
                    Alias: {{ student.alias }} &nbsp;
                    Group: {{ student.group }} &nbsp;</h2>
            </div> <!-- ./card-title -->
            <div class="card-body">
                <table class="table table-bordered">

                    <tr><!-- IF NOT ROUND BASE, FINAL SUBMISSION -->
                         <td>{{ responses[student.email][1]|safe }}</td>
                    </tr>
                </table>
            </div> <!-- ./card-body -->
        </div> <!-- ./card -->
{% endfor %}-->#}
{% endblock %}

<!--  UNIQUE GROUP1 -->
    <!-- SELECTED STUDENT'S INITIAL SUBMISSION -->

    <!-- SEQ DISCUSSION FOR ENTIRE GROUP-->

    <!-- SELECTED STUDENT"S FINAL SUBMISSION -->
<!--  UNIQUE GROUP2 -->
<!--  ...... -->


{#TODO Make this responsive#}
{#TODO Better styling#}