{% extends "layouts/instructor_base.html" %}
{% block title %} | Responses {% endblock %}
{% block content %}

    <p>
        Final answers = {{ final_answers }} <br><br>
        Initial seq = {{ initial_seq }} <br><br>
        Groups = {{ groups }} <br><br>
        Posts = {{ posts }} <br><br>
        Students = {{ students }} <br><br>
        Seq Rounds = {{ seq_rounds }} <br><br>
        Comments = {{ comments }} <br><br>
        Responses = {{ responses }} <br><br>
        Option = {{ option }} <br><br>
        Summary = {{ summary }} <br><br>
    </p>

{% if not posts %}
    <!-- post initial -->
    <div class="card">
        <div class="card-title">
            <h2> Initial Submissions </h2>
        </div> <!-- ./card-title -->
        <div class="card-body">
            <table class="table table-bordered">
                <tr>
                    {% for student in students %}
                        <th>{{ student.email }}({{ student.alias }} Group {{ student.group }})</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for student in students %}
                        <td>
                            {% for s in initial_seq[student.group - 1] %}
                                {% if s.email == student.email %}
                                    <strong>Option:</strong> {{ s.option }}
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for student in students %}
                        <td>
                            {% for s in initial_seq[student.group - 1] %}
                                {% if s.email == student.email %}
                                    <strong>Response:</strong> {{ s.response }}
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
            </table>
        </div> <!-- ./card-body -->
    </div> <!-- ./card -->
    <!-- Rounds -->
    <!-- There has to be a better, more reliable way to get this number-->
    {% for i in seq_rounds[groups[0].members[0]] %}
        {% if i != 1 %}
            <div class="card">
                <div class="card-title">
                    <h2> Round {{ i - 1 }} </h2>
                </div> <!-- ./card-title -->
                <div class="card-body">
                    <table class="table table-bordered">
                        <tr>
                            {% for student in students %}
                                <th>{{ student.email }}({{ student.alias }} Group {{ student.group }})</th>
                            {% endfor %}
                        </tr>
                        <tr>
                            {% for student in students %}
                                <td>
                                    {{ comments[student.email][i-1] }}
                                </td>
                            {% endfor %}
                        </tr>
                    </table>
                </div> <!-- ./card-body -->
            </div> <!-- ./card -->
        {% endif %}
    {% endfor %}
    <!-- Final Submissions -->
    <div class="card">
        <div class="card-title">
            <h2> Final Submissions </h2>
        </div> <!-- ./card-title -->
        <div class="card-body">
            <table class="table table-bordered">
                <tr>
                    {% for student in students %}
                        <th>{{ student.email }}({{ student.alias }} Group {{ student.group }})</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for student in students %}
                        <td>
                            {% for s in final_answers[student.group - 1] %}
                                {% if s.email == student.email %}
                                    <strong>Option:</strong> {{ s.option }}
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for student in students %}
                        <td>
                            {% for s in final_answers[student.group - 1] %}
                                {% if s.email == student.email %}
                                    <strong>Response:</strong> {{ s.response }}
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
            </table>
        </div> <!-- ./card-body -->
    </div> <!-- ./card -->
    <!-- Summaries -->
    <div class="card">
        <div class="card-title">
            <h2> Summary Submissions </h2>
        </div> <!-- ./card-title -->
        <div class="card-body">
            <table class="table table-bordered">
                <tr>
                    {% for student in students %}
                        <th>{{ student.email }}({{ student.alias }} Group {{ student.group }})</th>
                    {% endfor %}
                </tr>
                <tr>
                    {% for student in students %}
                        <td>
                            {% for s in final_answers[student.group - 1] %}
                                {% if s.email == student.email %}
                                    <strong>Option:</strong> {{ s.option }}
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
                <tr>
                    {% for student in students %}
                        <td>
                            {% for s in final_answers[student.group - 1] %}
                                {% if s.email == student.email %}
                                    <strong>Response:</strong> {{ s.response }}
                                {% endif %}
                            {% endfor %}
                        </td>
                    {% endfor %}
                </tr>
            </table>
        </div> <!-- ./card-body -->
    </div> <!-- ./card -->
{% endif %}
<!--sequential round stuff, only works if you're at round 2 or later-->
{% if posts %}
    <!-- -->
    {% for group in groups %}
        <!-- initials -->
        <h3>INITIAL RESPONSES IN GROUP {{ group.number }}</h3>


        <div class="card">
            {% for answer in initial_seq[group.number - 1] %}

                 {% for member in group.members %}


                    {% if answer.email == member %}
                            <div class="card-title">
                        <h3 style="text-align: left">{{answer.email}} </h3>
                    </div>
                     <div class="card-body" style="text-align: left">
                         {{answer.response|safe}}
                     </div>
                {% endif %}

            {% endfor %}
            {% endfor %}
        </div>





        <!-- post sequentials --> <h3>SEQUENTIAL DISCUSSION IN GROUP {{ group.number }}</h3>
        <div class="card">

                 {% for p in posts %}
                     {% for member in group.members %}
                         {% if p.author ==  member%}
                             <div class="card-title">
                        <h3 style="text-align: left">{{p.author}} </h3>
                    </div>
                     <div class="card-body" style="text-align: left">
                         {{p.text|safe}}
                     </div>
                         {% endif %}
                     {% endfor %}



                 {% endfor %}
        </div>
        <!-- final -->
        <div class="card">
        <h3> FINAL ANSWERS IN GROUP {{ group.number }} </h3>
        {% for member in group.members %}
            {% for response in seq_resp['group_'+group.number|string+'_3'] %}
                {% if response.student == member %}
                <div class="card-title">
                        <h3 style="text-align: left">{{response.student}} </h3>
                    </div>


                    <div class="card-body" style="text-align: left">
                         {{response.comment|safe}}
                     </div>
                {% endif %}
            {% endfor %}
        {% endfor %}
        </div>

        <!--  summary -->
        <div class="card">
        <h3> SUMMARIES IN GROUP {{ group.number }} </h3>
        {% for member in group.members %}
            {% for response in seq_resp['group_'+group.number|string+'_3'] %}
                {% if response.student == member %}
                <div class="card-title">
                        <h3 style="text-align: left">{{response.student}} </h3>
                    </div>

                     <div class="card-body" style="text-align: left">
                         {{response.summary|safe}}
                     </div>

                {% endif %}
            {% endfor %}
        {% endfor %}
        </div>


    {% endfor %}
{% endif %}









{#<!--
{% for student in students %}
        <!-- post initial -->

     <!-- post sequential from student.group -->
    <!-- for each student ing group -->
        <!-- post final -->

        <div class="card">
            <div class="card-title">
                <h2>({{ loop.index }}) &nbsp;
                    Student: {{ student.email }} &nbsp;
                    Alias: {{ student.alias }} &nbsp;
                    Group: {{ student.group }} &nbsp;</h2>
            </div> <!-- ./card-title -->
            <div class="card-body">
                <table class="table table-bordered">

                    <tr><!-- IF NOT ROUND BASE, FINAL SUBMISSION -->
                         <td>{{ responses[student.email][1]|safe }}</td>
                    </tr>
                </table>
            </div> <!-- ./card-body -->
        </div> <!-- ./card -->
{% endfor %}-->#}
{% endblock %}

<!--  UNIQUE GROUP1 -->
    <!-- SELECTED STUDENT'S INITIAL SUBMISSION -->

    <!-- SEQ DISCUSSION FOR ENTIRE GROUP-->

    <!-- SELECTED STUDENT"S FINAL SUBMISSION -->
<!--  UNIQUE GROUP2 -->
<!--  ...... -->


{#TODO Make this responsive#}
{#TODO Better styling#}